<h1>Snippets</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Image</th>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.description %></td>
        <td><%= image_tag snippet.image.url(:medium) %></td>
        <td><%= snippet.user.email if snippet.user %></td>
        <td><%= link_to 'Show', snippet %></td>
        <% if snippet.user == current_user %>
        <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td><%= link_to 'Delete', snippet, method: :delete, data: { confirm: 'Are you sure want to delete this snippet?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Snippet', new_snippet_path %>
<% end %>  
