<div id="snippets" class="transitions-enabled">
    <% @snippets.each do |snippet| %>
      <div class="box panel panel-default">
        <%= image_tag snippet.image.url(:medium) %>
       <div class="panel-body"> 
        <%= snippet.description %>
        <%= snippet.user.email if snippet.user %>
        <%= link_to 'Show', snippet %>
        <% if snippet.user == current_user %>
        <%= link_to 'Edit', edit_snippet_path(snippet) %>
        <%= link_to 'Delete', snippet, method: :delete, data: { confirm: 'Are you sure want to delete this snippet?' } %>
        <% end %>
       </div> 
      </div>
    <% end %>
</div>

